#HiddenNavSection{
    // background: $proj_gray1;
    // background: $proj_primary_light;
    background: rgba($color: #fff, $alpha: .25);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding-top: 2em;
    z-index: 5;
    h2{
        text-align: center;
    }
    .hidden_nav_ctnr{
        display: flex;
    }
    .navigation_ctnr{
        flex: 1;
        background: $proj_primary_light;
        border-radius: 5px 0 0 5px;
    }

    .empty{
        flex: .25;
        background: rgba($color: #fff, $alpha: .25);
        opacity: .25;
    }

    .hidden_nav_main_links{
        display: flex;
        flex-flow: column;
        gap: 1em;
        align-items: center;
        margin: 1em 0;
        a{
            font-size: 1.5em;
            color: #000;
        }
    }
    .archive_list{
        padding: 2em;
    }
}

@media only screen and (min-width: $desktop_bp) {
    #HiddenNavSection{
        display: none;
    }
    
}