#HiddenNavSection{
    // width: 100vw;
    padding-top: 2em;
    z-index: 5;
    h2{
        text-align: center;
    }
    .hidden_nav_ctnr{
        display: flex;
    }
    .navigation_ctnr{
        flex: 1;        
        padding-top: 2em;
        a{
            color: $proj_primary_dark
        }
    }
    .hidden_nav_main_links{
        display: flex;
        flex-flow: column;
        gap: 1em;
        padding: .25em 2em;
        margin: 1em 0;
        a{
            font-size: 1.5em;
        }
    }
    .archive_list{
        padding: 2em;
        background: $proj_gray2;
        flex-flow: row wrap;
        justify-content: center;
        
        li{
            padding: .5em;
            font-size: .9em;
        }
        li:nth-child(even){
            color: $proj_primary_dark;
            background: $proj_primary_light;            
        }
        li:nth-child(odd){
            color: #fff;
            background-color: $proj_primary_dark;
        }

        li[data-has_read=true]{
            background-color: $proj_primary_orange;
            color: #000;
            // font-size: .25;
        }

    }

}
#HiddenNavSection[data-status="hidden"]{
    display: none;
    transition: 5s;
}

@media only screen and (min-width: $desktop_bp) {
    #HiddenNavSection{
        display: none;
        // opacity: ;
    }
    
}