#PoemArchive{
    background: $proj_gray2;
    display: none;
    padding: 2em;
    right: 0;
    top: 0;
    flex: .25;
    h3{
        text-align: center;
    }
    ul{
        display: flex;
        flex-flow: column;
        gap: 1em;
        align-items: center;
        list-style: none;
    }
    li{
        padding: .5em;
    }
    li:hover{
        cursor: pointer;
    }
    .banner_ctnr{
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 2em;

    }
    .archive_banner{
        display: flex;
        gap: 1em;
        align-items: center;
        h3{
            font-size: 1.5em;
            color: $proj_primary_dark;
        }
        img{
            height: 1.5em;
            width: 1.5em;

        }
    }
    .archive_list{
        flex-flow: row wrap;
        justify-content: center;
        li:nth-child(even){
            color: $proj_primary_dark;
            background: $proj_primary_light;            
        }
        li:nth-child(odd){
            color: #fff;
            background-color: $proj_primary_dark;
        }
    }
}

@media only screen and (min-width: $desktop_bp){
    #PoemArchive{
        display: block;
    }
}
