.archive_list{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;
    list-style: none;
    text-align: center;
    li{
        border-radius: 5px;
    }
    li:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    .close_icon_ctnr{
        width: 100%;
        img{
            width: 1em;
            background-color: $proj_primary_dark;
            border-radius: 50%;
            padding: .25em;
        }
    }
}

@media only screen and (min-width: $desktop_bp){
    .close_icon_ctnr{
        display: none;
    }
}