$proj_primary_light: #f7f3f8;
// $proj_primary_light: #f4e2f6;
$proj_primary_gray: #e0d1e1;
$proj_primary_orange: #ffa759;


$proj_primary_dark: #4d0b51;

$proj_gray1: #f1f1f1;
$proj_gray2: #f2f2f2;
$font1: 'Roboto Slab', serif;
$font2: 'Montserrat', sans-serif;



$tablet_bp: 767px;
$desktop_bp: 1400px;

